.logofont {
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo-center {
    height: 50px;
    background-color: transparent;
    padding: 0;
}

.position-button {
    min-width: 175px;
}

.btn-primary {
    background-color: #FF6800;
    border-color: #575757;
    color: black;
}

.btn-primary:hover {
    background-color: #fd822c;
    border-color: #989898;
    color: black;
}

.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:focus-visible {  /* button click */
    background-color: #ffa263;
    border-color: #989898;
    color: black;
    box-shadow: none;
}


.short-input-group-smaller {
    width: 100%;
}

.short-input-smaller {
    width: 96px;
}

.form-check-input:checked {
    background-color: #FF6800;
    border-color: #FF6800;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.25); /* Orange Glow */
    border-color: #FF6800;
}

/* Chrome, Safari, Edge */
input[type=range]::-webkit-slider-thumb {
    background: #FF6800;
    border: none;
}
input[type=range]::-webkit-slider-runnable-track {
    background: #ffd699; /* light Orange */
}

/* Firefox */
input[type=range]::-moz-range-thumb {
    background: #FF6800;
    border: none;
}
input[type=range]::-moz-range-track {
    background: white;
}

input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px rgba(255,165,0,0.3);
}

.app-container {
    overflow: hidden;
    padding: 0;
}

.settings-container {
    background-color: #FFDCB9;
    color: black;
    overflow-y: auto;
}

.settings-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.0rem;
}

.map-container {
    flex-grow: 1;
}

/* Desktop: horizontale Anordnung */
@media (min-width: 768px) {
    .settings-container {
        width: 25%;
        max-width: 300px;
    }
    .map-container {
        width: 75%;
    }

    .app-header {
        position: absolute;
        top: 0;
        left: calc(60%);
        transform: translateX(-50%);
        width: 50%;
        border-radius: 0 0 24px 24px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }


}

/* Mobile: vertikale Anordnung */
@media (max-width: 767.98px) {
    .app-header {
        position: static;
        width: 100%;
        height: 60px;
        border-radius: 0;
        box-shadow: none;
        transform: none;
    }

    .flex-md-row {
        flex-direction: column !important;
    }

    .settings-container {
        height: 50%;
        width: 100%;
        overflow-y: auto;
    }

    .map-container {
        height: 50%;
        width: 100%;
    }

}

.app-header {
    background-color: rgba(255, 107, 0, 0.65);
    color: white;
    z-index: 1000;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
}

.app-header .btn {
    pointer-events: auto;
}

.logo-center {
    height: 50px;
    background-color: transparent;
    padding: 0;
}

