.custom-cluster-wrapper {
    background-color: transparent;
}

.custom-cluster-icon {
    background-color: #007bff; /* Blau */
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid white;
    box-shadow: 0 0 0 2px #007bff;
}